 {{!--Search form--}}

<div class="row">
        <div class="col-xs-6 col-md-4">
            <div class="ui-widget">
            <label for="tags">Tags: </label>
            <input id="tags">
            </div>
        </div>
</div>

{{!--Jumbotron with offers--}}

<div class="row">
        {{#each this}}
    
    <div class="col-sm-3">
        <h2>{{this.title}}</h2>
        <img class="img-responsive img-rounded" src="{{this.imageUrl}}" style="width:100%; height: auto"
        />
        <p class="text-justify">{{this.description}}</p>
        <p><strong>Start price: </strong><span>{{this.startPrice}}</span></p>
        <p><strong>Owner: </strong><span>{{this.owner.email}}</span></p>
        <hr />
        <p><strong>Offer expires at: </strong><span>TO DO CLOCK</span></p>
        <p><strong>Current best offer: </strong><span>TO DO</span></p>
        <p><strong>Bid By: </strong></p>
        <span><a class="btn btn-default btn-sm" href="#" role="button">5 BGN</a></span>
        <span><a class="btn btn-success btn-sm" href="#" role="button">10 BGN</a></span>
        <span><a class="btn btn-danger btn-sm" href="#" role="button">15 BGN</a></span>
        
    </div>
    {{/each}}
</div>

