<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="cnrflash">
                <div class="cnrflash-inner">
                    <span class="cnrflash-label">HOT
                            <br>
                            OFFER</span>
                </div>
            </div>
            <div class="panel-heading">
                <h3 class="panel-title">
                    {{this.title}}</h3>
            </div>
            <div class="panel-body">
                <div>
                    <img src="{{this.imageUrl}}" />
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <td>
                                {{this.description}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Created at:</strong> {{this.createdAt}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Expires at:</strong> ?????
                            </td>
                        </tr>
                        <tr>
                            <td class="danger">
                                <strong>Owner:</strong> {{this.owner.email}}
                            </td>
                        </tr>
                        <tr>
                            <td class="success">
                                <strong>Current Best Offer:</strong><label id="price-style"> {{this.startPrice}}$</label>
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
            <div class="panel-footer">
                <a class="btn btn-default btn-sm" href="#" role="button">5 BGN</a>
                <a class="btn btn-success btn-sm" href="#" role="button">10 BGN</a>
                <a class="btn btn-danger btn-sm" href="#" role="button">15 BGN</a>
            </div>
        </div>
    </div>
</div>